<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title><%= title%></title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

</head>
<body>
    
   
      <input type="text" id="id">
      <button onclick="myFunction()">click</button>
   
<script>

function myFunction()
{
   
var variable = document.getElementById("id").value;
var miInit = { method: 'POST',
               };

               var url = 'api/establecimiento-id/json';
var data = {id:variable};

$.ajax({
           type: "POST",
           url: url,
           data: data, // serializes the form's elements.
           success: function(data)
           {
               console.log(data); // show response from the php script.
           }
         });

}
</script>
</body>
</html>